[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-dotenv = "*"
gunicorn = "*"
black = "*"
fire = "*"
pytest-django = "*"
faker = "*"
pyyaml = "*"
mypy = "*"
django-stubs = {extras = ["0.971"], version = "*"}
djangorestframework-stubs = {extras = ["0.971"], version = "*"}
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.9"
